*, *::after, *::before{
  box-sizing: border-box;
}
body{
  margin: 0;
}
main{
    margin: 0;
    text-align: center;
}
.gamePage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: right;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
.scores{
  padding: 20px;
  background-color: #84a5db;
  margin: 20px auto;
  width: 300px;
  /* text-align: left; */
}
.wrapper {
  /* width: 60%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows : repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
.box{
  padding: 50px;
  background-color: gray;
  border: 1px solid black;
  box-shadow: 2px 5px 5px gray ;
}
.crossDone{
  background-color: cornflowerblue;
}
.circleDone{
  background-color: goldenrod;
}